<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MindsPlace</title>
    @RenderSection("StyleSheets", required: false)
    @*<link rel="stylesheet" href="~/css/comment_css.css"/>*@
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/line-awesome.css" />
    <link rel="stylesheet" href="~/css/line-awesome-font-awesome.min.css" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="~/lib/slick/slick.css" />
    <link rel="stylesheet" href="~/lib/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/CustomStyle.css" />
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header-data">
                    <div class="logo">
                        <a asp-page="/DashBoard" title="home">
                            <img src="~/assets/img/logo-dark.png" alt="">
                        </a>
                    </div>


                    <nav>
                        <ul>
                            <li>
                                <a asp-page="/DashBoard" title="dashboard">
                                    <span>
                                        <img src="~/images/icon1.png" alt="">
                                    </span>
                                    Home
                                </a>
                            </li>

                            <li>
                                <a asp-page="/Professionals" title="Professionals">
                                    <span>
                                        <img src="~/images/icon4.png" alt="">
                                    </span>
                                    Professionals
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Forum" title="Forum">
                                    <span>
                                        <img src="~/images/icon5.png" alt="">
                                    </span>
                                    Forum
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Messages" class="not-box-openm">
                                    <span>
                                        <img src="~/images/icon6.png" alt="">
                                    </span>
                                    Messages
                                </a>
                                <div class="notification-box msg" id="message">
                                    <div class="nt-title">
                                        <h4>Setting</h4>
                                        <a href="#" title="">Clear all</a>
                                    </div>
                                    <div class="nott-list">
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/images/resources/ny-img1.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="message.aspx" title="">Jassica William</a> </h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                                <span>2 min ago</span>
                                            </div>
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="message.aspx" title="">Jassica William</a></h3>
                                                <p>Lorem ipsum dolor sit amet.</p>
                                                <span>2 min ago</span>
                                            </div>
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/images/resources/ny-img3.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="message.aspx" title="">Jassica William</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
                                                <span>2 min ago</span>
                                            </div>
                                        </div>
                                        <div class="view-all-nots">
                                            <a asp-page="/Messages">View All Messsages</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#" title="Notifications" class="not-box-open">
                                    <span>
                                        <img src="~/images/icon7.png" alt="">
                                    </span>
                                    Notifications
                                </a>
                                <div class="notification-box noti" id="notification">
                                    <div class="nt-title">
                                        <h4>Setting</h4>
                                        <a href="#" title="">Clear all</a>
                                    </div>
                                    <div class="nott-list">
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/images/resources/ny-img1.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div>
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div>
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/images/resources/ny-img3.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div>
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div>
                                        </div>
                                        <div class="view-all-nots">
                                            <a href="#">View All Notification</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div>
                    <div class="user-account">
                        <div class="user-info">
                            <img src="~/images/resources/user.png" alt="">
                            <a href="#" title="">John</a>
                            <i class="la la-sort-down"></i>
                        </div>
                        <div class="user-account-settingss" id="users">
                            <h3>Setting</h3>
                            <ul class="us-links">
                                <li><a asp-page="/Settings" title="">Account Setting</a></li>
                                <li><a href="#" title="">Privacy</a></li>
                                <li><a href="#" title="">Faqs</a></li>
                                <li><a href="#" title="">Terms & Conditions</a></li>
                            </ul>
                            <h3 class="tc"><a asp-page="/Public/Login" title="Logout">Logout</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @*<main role="main" class="pb-3">*@
            @RenderBody()
        @*</main>*@
        @RenderSection("Footer", required: false)
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.js"></script>
    <script src="~/lib/slick/slick.min.js"></script>
    <script src="~/js/scrollbar.js"></script>
    <script src="~/js/script.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
